<form id="product_list_form" action="{% url 'products:edit_to_cart' %}" method="post" class="product_list">
    {% csrf_token %}
    <table class="product_list_table" style="width: 800px">
        <tr id="table_row">
            <th class="td_th">UPC</th>
            <th id="td_th1">Product Name</th>
            <th class="td_th">Price</th>
            <th class="td_th">Quantity</th>
            <th class="td_th">Actions</th>
        </tr>
        {% for item in cart.items.all %}
            <tr id="list_detail">
                <td class="td_th">{{ item.product.upc }}</td>
                <td id="td_th2">{{ item.product.product_name.name }}</td>
                <td class="td_th">{{ item.product.store_price }}</td>
                <td class="td_th">
                    <input id="item_total" type="number" name="quantity_{{ item.product.upc }}"
                           value="{{ item.quantity }}">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary modify-button" name="item_upc"
                            value="{{ item.product.upc }}">
                        Modify
                    </button>
                    <button><a style="text-decoration: None" href="{% url 'products:remove_from_cart' item.id %}"
                               class="btn btn-danger">Remove</a></button>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Your cart is empty.</td>
            </tr>
        {% endfor %}
    </table>
</form>