{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Go</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="header w">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div class="nav">
        <ul>
            <li><a href="/products/">Home</a></li>
            <li><a href="/products/dairy_view">Dairy</a></li>
            <li><a href="/products/fruit_view">Fresh</a></li>
            <li><a href="/products/bakery_view">Bakery</a></li>
            <li><a href="/products/meat_view">Meat</a></li>
            <li><a href="/products/cart">Shopping Cart</a></li>
        </ul>
    </div>
    <div class="search">
        <form action="{% url 'products:item_search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="item_search" placeholder="Enter here">
            <button type="submit" class="search_button"></button>
        </form>
    </div>
    <div class="user">
        {% if request.user.is_authenticated %}
            <span>Welcome, {{ request.user.username }}</span>
            <a href="/products/user">My Account</a>
        {% else %}
            <a href="/products/login">Login</a>
        {% endif %}
    </div>

</div>
<div class="banner">
    <div class="w">
        <div class="subnav">
            <ul>
                <li><a href="/products/fruit_view">Fruit <span>&gt</span></a></li>
                <li><a href="/products/dairy_view">Dairy <span>&gt</span></a></li>
                <li><a href="/products/bakery_view">Bakery <span>&gt</span></a></li>
                <li><a href="/products/meat_view">Seafood <span>&gt</span></a></li>
                <li><a href="/products/meat_view">Meat <span>&gt</span></a></li>
            </ul>
        </div>

    </div>
</div>
<div class="suggest w">
    <div class="boutique"><h4>&nbsp&nbsp On sale ! Time Limited</h4></div>
    <div class="course">
        <ul>
            <li>product</li>
            <li>product</li>
            <li>product</li>
            <li>product</li>
            <li>product</li>
            <li>product</li>
        </ul>
    </div>
    <div class="r_button"><a href="#">Modify</a></div>
</div>
<!--content-->
<div class="box w">
    <div class="box-hd">
        <h3>Recommend</h3>
        <a href="#">View All</a>
    </div>
    <div class="box-bd clearfix">
        <form action="" method="post">
            {% csrf_token %}
            <ul>
                {% for invent_obj in  inventory_list %}
                    {% with invent_obj.media_set.first as media %}
                        <li>
                            {% if media %}
                                <img src="{{ MEDIA_URL }}{{ media.url }}"
                                     alt="Image for {{ invent_obj.product_obj.name }}">

                            {% endif %}
                            <h4>{{ invent_obj.product_obj.name }}</h4>
                            <button id="add_to_cart" type="button"
                                    onclick="location.href='{% url 'products:add_to_cart' invent_obj.upc %}'">ADD TO
                                CART
                            </button>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </form>
    </div>
</div>


<div class="footer">
    <div class="w">
        <div class="copyright">
            <img src="images/logo.png" alt="">
            <p>CIT693 Course Project Peng Ouyang</p>
            <a href="#">NAU</a>
        </div>
        <div class="links">

            <dl>
                <dt>Links</dt>
                <dd><a href="https://nau.edu">NAU</a></dd>

            </dl>
        </div>
    </div>
</div>
</body>
</html>